<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothsy-Ecommerce-Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../Assets/Css/Constant.css">
    <link rel="stylesheet" href="../Assets/Css/responsive.css">
    <link rel="stylesheet" href="../Assets/Css/Style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="container_fluid">
        <div class="container">
            <header class="header d_flex">
                <div class="logo">
                    <h2><a href="#">Clothsy</a></h2>
                </div>
                <div class="navbar">
                    <ul class="list_items d_flex">
                        <li class="nav_links"><a href="./index.html" class="link">Home</a></li>
                        <li class="nav_links"><a href="#" class="link">About</a></li>
                        <li class="nav_links"><a href="#" class="link">Contact Us</a></li>
                        <li class="nav_links"><a href="./signup.html" class="link">Sign Up</a></li>
                    </ul>
                </div>
                <div class="social_icons d_flex">
                    <div class="icon"><a href="#" class="media_icon"><span><i class="fa-solid fa-heart heart_icon"></i></span></i></a></div>
                    <div class="icon"><a href="#" class="media_icon"><span><i class="fa-solid fa-cart-shopping cart_icon"></i></span></i></a></div>
                    <div class="icon hide"><a href="#" class="media_icon"><span><i class=" bar_icon fa-solid fa-bars"></i></span></a></div>
                </div>
            </header>
            <main class="main">
                <section class="main_contianer">
                    <div class="row d_flex">
                        <div class="col left_col">
                            <div class="main_title"><p>FIND CLOTHES THAT MATCHES YOUR STYLE</p></div>
                            <div class="main_desp line_hgt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facere nisi, hic maxime cumque quae quisquam nobis cum facilis eveniet deleniti repellat? Magnam non saepe unde.</div>
                            <div class="view_more mgtb-1 "><a href="#" class="fnt_clr_w">View More...</a></div>
                        </div>
                        <div class="col right_col"></div> 
                    </div>
                </section>
                <section class="top_msg">
                    <div class="tilte"><p>NEW ARRIVALS</p></div>
                </section>
                <section class="arrival">
                    <div class="view_more mgtb-1 d_flex view_all"><a href="#" class="fnt_clr_w"><bold>View All Products</bold></a></div>
                    <div id="loader" class="loader"></div>
                    <div id="card_container"></div>
                    <div class="card_container">
                    </div>
                </section>
                <section class="top_msg" ">
                    <div class="tilte"><p>BROWSER BY CATEGORIES</p></div>
                </section>

                <!-- slider -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                      
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                <!-- slide end -->
            </main>
        </div>
    </div>
    <section class="top_msg"></section>
    <footer class="footer container_fluid">
        <section class=" footer_body container d_flex">
            <div class="exclusive">
                <ul class="exclusive_list">
                    <li><a href="#" class="exc_links text_color  fnt_size">Exclusive</a></li>
                    <li><a href="#" class="exc_links text_color list_items">Subscribe</a></li>
                    <li><a href="#" class="exc_links text_color list_items">Get 10% off your first order</a></li>
                </ul>
            </div>
            <div class="support">
                <ul class="support_list">
                    <li><a href="#" class="sprt_links text_color  fnt_size">Support</a></li>
                    <li><a href="#" class="sprt_links text_color list_items">CodeDev@gmail.com</a></li>
                    <li><a href="#" class="sprt_links text_color list_items">+88015-88888-9999</a></li>
                </ul>
            </div>
            <div class="account">
                <ul class="account_list">
                    <li><a href="#" class="acnt_links text_color  fnt_size">Account</a></li>
                    <li><a href="#" class="acnt_links text_color list_items">My Account</a></li>
                    <li><a href="#" class="acnt_links text_color list_items">Login/Register</a></li>
                    <li><a href="#" class="acnt_links text_color list_items">Cart</a></li>
                    <li><a href="#" class="acnt_links text_color list_items">Whshtlist</a></li>
                    <li><a href="#" class="acnt_links text_color list_items">Shop</a></li>
                </ul>
            </div>
            <div class="quick">
                <ul class="quick_list">
                    <li><a href="#" class="qck_links text_color  fnt_size">Quick Link</a></li>
                    <li><a href="#" class="qck_links text_color list_items">Privacy Policy</a></li>
                    <li><a href="#" class="qck_links text_color list_items">Terms of Use</a></li>
                    <li><a href="#" class="qck_links text_color list_items">FAQ</a></li>
                    <li><a href="#" class="qck_links text_color list_items">Contact</a></li>
                </ul>
            </div>
        </section>
      </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../Assets/Js/script.js"></script>
    

</body>
</html>