<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothsy-SignUp-page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../Assets/Css/Constant.css">
    <link rel="stylesheet" href="../Assets/Css/responsive.css">
    <link rel="stylesheet" href="../Assets/Css/Style.css">
</head>
<body>
    <div class="container">
        <header class="header d_flex">
        <div class="logo">
            <h2><a href="#">Clothsy</a></h2>
        </div>
        <div class="navbar">
            <ul class="list_items d_flex">
                <li class="nav_links"><a href="./index.html" class="link">Home</a></li>
                <li class="nav_links"><a href="#" class="link">About</a></li>
                <li class="nav_links"><a href="#" class="link">Contact Us</a></li>
                <li class="nav_links"><a href="./signup.html" class="link">Sign Up</a></li>
            </ul>
        </div>
        <div class="social_icons d_flex">
            <div class="icon"><a href="#" class="media_icon"><span><i class="fa-solid fa-heart heart_icon"></i></span></i></a></div>
            <div class="icon"><a href="#" class="media_icon"><span><i class="fa-solid fa-cart-shopping cart_icon"></i></span></i></a></div>
            <div class="icon hide"><a href="#" class="media_icon"><span><i class=" bar_icon fa-solid fa-bars"></i></span></a></div>
        </div>
        </header>
        <main class="main">
            <section class="signup">
                <div class="row d_flex">
                    <div class="col left_col">

                    </div>
                    <div class="col right_col">
                        <div class="form_container">
                            <p class="title">Create an account</p>
                            <p class="text">Enter details below</p>
                            <form action="">
                                <div class="form_group">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" placeholder="Enter your name:">
                                </div>
                                <div class="form_group">
                                    <label for="email">Email:</label>
                                    <input type="text" id="email" placeholder="Enter your name:">
                                </div>
                                <div class="form_group">
                                    <label for="Password">Password:</label>
                                    <input type="password" id="Password" placeholder="Enter your name:">
                                </div>
                                <div class="form_group">
                                    <label for="confirm_password">Confirm Password:</label>
                                    <input type="text" id="confirm_password" placeholder="Enter your name:">
                                </div>
                                <span class="signin">I have already Account?<a href="./signin.html">Login</a></span><br>
                                <button class="sumit_btn">Create Account</button>
                                <div class="sign_gogle"><a href="#">Sign With Google</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="../Assets/Js/script.js"></script>
</body>
</html>